{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Period</title>
    <link rel="stylesheet" href="{% static 'css/product5.css'%}">
   
</head>
<body>
    <div class="text-store">
        <h1>L U C K I N T E R</h1>
        </a>
        <h5>PUBLISHING CO, LTD.</h5>
        <a href="{% url 'login_' %}">
        <input class="login-btn" type="button" value="Login">
        </a>
        <a href="{% url 'signout' %}">
        <input class="logout-btn" type="button" value="Logout">
        </a>
        <a href="{% url 'cartDetail' %}">
        <img class="cart-pricess" src="{% static 'images/assets/shopping-cart.png'%}" alt="">
        </a>
    </div>
    <div class="line-under-text"></div>
        <div class="border-radius">
            <h5></h5>
            <div class="text-store-bar">
                <a href="{% url 'index' %}">
                <h1>>LUCKINTER<</h1>
                </a>
                <a href="{% url 'cartDetail' %}">
                <h2>SHOP</h2>
                </a>
                <a href="{% url 'series' %}">
                <h3>SERIES</h3>
                </a>
                <h4>REWARDS</h4>
                <a href="{% url 'contact' %}">
                <h6>CONTACT US</h6>
                </a>
                {% if request.user.is_authenticated and request.user.username %}
                <h7>WELLCOME {{request.user.username}}</h7>
                {% else %}
                <h7>WELLCOME USER</h7>
                {% endif %}
            </div>
        </div>
        <div class="cart-product">
            {%if item_count > 0 %}
                <p>{{item_count}}</p>
            {%else%}
                0
            {%endif%}
            
        </div>

        <div class="parent">
            <img class="logo1" src="{% static 'images/assets/logo.png'%}">
        </div>
    </div>

        {%for product in products%}
        <div class="popup" id="popup-1">
            <div class="overlay">
                <div class="content">
                    <div class="text-product">
                        <p>MANGA</p>
                        <p2>MANGA</p2>
                        <p3>MANGA</p3>
                        <p4>MANGA</p4>
                        <p5>MANGA</p5>
                    </div>
                    <div class="text-product-name">
                        <p>{{product.name}} 1</p>
                        <p2>{{product.name}} 2</p2>
                        <p3>{{product.name}} 3</p3>
                        <p4>{{product.name}} 4</p4>
                        <p5>{{product.name}} 5</p5>

                    </div>
                    <img class="img-quic-buy1" src="{% static 'images/blue/1.jpg'%}" alt="">
                    <img class="img-quic-buy2" src="{% static 'images/blue/2.jpg'%}" alt="">
                    <img class="img-quic-buy3" src="{% static 'images/blue/3.jpg'%}" alt="">
                    <img class="img-quic-buy4" src="{% static 'images/blue/4.jpg'%}" alt="">
                    <img class="img-quic-buy5" src="{% static 'images/blue/5-.jpg'%}" alt="">

                    <div class="close-btn" onclick="togglePopup()">&times;</div>  
                    <input class="add-to-cart" type="button" value="ADD TO CART"> 

                    <div class="btn-price">
                        <button class="btn-price-book">
                            <div class="text-btn">
                                <p>หนังสือ</p>
                                <p1>70</p1>
                            </div>
                        </button>
                        <button class="btn2-price-book">
                            <div class="text-btn">
                                <p>หนังสือ</p>
                                <p1>70</p1>
                            </div>
                        </button>
                        <button class="btn3-price-book">
                            <div class="text-btn">
                                <p>หนังสือ</p>
                                <p1>70</p1>
                            </div>
                        </button>
                        <button class="btn4-price-book">
                            <div class="text-btn">
                                <p>หนังสือ</p>
                                <p1>70</p1>
                            </div>
                        </button>
                        <button class="btn5-price-book">
                            <div class="text-btn">
                                <p>หนังสือ</p>
                                <p1>70</p1>
                            </div>
                        </button>

                        <button class="btn-price-ebook">
                            <div class="text-btn">
                                <p>อีบุ๊ค</p>
                                <p1>55</p1>
                            </div>
                        </button>
                        <button class="btn2-price-ebook">
                            <div class="text-btn">
                                <p>อีบุ๊ค</p>
                                <p1>55</p1>
                            </div>
                        </button>
                        <button class="btn3-price-ebook">
                            <div class="text-btn">
                                <p>อีบุ๊ค</p>
                                <p1>55</p1>
                            </div>
                        </button>
                        <button class="btn4-price-ebook">
                            <div class="text-btn">
                                <p>อีบุ๊ค</p>
                                <p1>55</p1>
                            </div>
                        </button>
                        <button class="btn5-price-ebook">
                            <div class="text-btn">
                                <p>อีบุ๊ค</p>
                                <p1>55</p1>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <input class="btn-buy" type="button" value="Quick Buy" onclick="togglePopup()">
        <div class="parent">
            <img class="showimge-product" src="{% static 'images/blue/1.jpg' %}" alt="">
        </div>

        <div class="present-procuct">
            <h1>Blue Period</h1>
            <h2>สินค้าที่เกี่ยวข้อง</h2>
            <p1>เรื่องย่อ</p1>
            <p2>
                คะแนนสอบเป็นเลิศ มนุษยสัมพันธ์กับ ใครรอบข้างก็ไปได้ดี กินเหล้า สูบบุหรี่ <br>เที่ยวกลางคืนทำได้ทุกอย่าง เพื่อนๆ ต่างก็สนิทสนมเชื่อใจ <br>เขาเป็นเด็กผู้ชายในวัยม.ปลาย ที่ชีวิตดูกำลังไปได้สวยคนหนึ่ง <br>ทว่ามาวันหนึ่งเขากลับเพิ่งรู้ตัวว่า ตนเองนั้นชอบวาดภาพ!? <br>สุดยอดมังงะที่ตีแผ่เรื่องราว ของเหล่าคนที่มุ่งมั่นในการสอบ <br>เข้ามหา'ลัยศิลปะ เปี่ยมล้นไปด้วยพลังของช่วงชีวิตวัยรุ่น เปิดฉากขึ้นแล้ว!
            </p2>
            <p3>ข้อมูลหนังสือ</p3>
            <p4>
                เรื่อง : Tsubasa Yamaguchi <br>
                ภาพ : Tsubasa Yamaguchi <br>
                สำนักพิมพ์ : Luckinter<br>
                Genres : slice of life     
            </p4>
            <div class="border-line-product">
                <div class="border-line-product1">
                    <div class="img-product">
                        <img src="{% static 'images/blue/1.jpg'%}" alt="" srcset="">
                    </div>
                 
                    <div class="text-border">
                        <p>MANGA</p>
                        <p1>{{product.name}} 1 </p1>
                        <p2>Tsubasa Yamaguchi   </p2>
                        <p3>หนังสือ</p3>
                        <p4>อีบุ๊ค</p4>
                    </div>
                    <a href="{%url 'addCart' product.id %}">
                    <div class="border-price">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>70</p1>
                        </div>
                    </div>
                    </a>
                    <div class="border-price2">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>55</p1>
                        </div>
                    </div>
                </div>
                <div class="border-line-product2">
                    <div class="img-product">
                        <img src="{% static 'images/blue/2.jpg'%}" alt="" srcset="">
                    </div>
                    <div class="text-border">
                        <p>MANGA</p>
                        <p1>{{product.name}} 2</p1>
                        <p2>Tsubasa Yamaguchi   </p2>
                        <p3>หนังสือ</p3>
                        <p4>อีบุ๊ค</p4>
                    </div>
                    <a href="{%url 'addCart' product.id %}">
                    <div class="border-price">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>70</p1>
                        </div>
                    </div>
                    </a>
                    <div class="border-price2">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>55</p1>
                        </div>
                    </div>
                </div>
                <div class="border-line-product3">
                    <div class="img-product">
                        <img src="{% static 'images/blue/3.jpg'%}" alt="" srcset="">
                    </div>
                    <div class="text-border">
                        <p>MANGA</p>
                        <p1>{{product.name}} 3</p1>
                        <p2>Tsubasa Yamaguchi</p2>
                        <p3>หนังสือ</p3>
                        <p4>อีบุ๊ค</p4>
                    </div>
                    <a href="{%url 'addCart' product.id %}">
                    <div class="border-price">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>70</p1>
                        </div>
                    </div>
                    </a>
                    <div class="border-price2">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>55</p1>
                        </div>
                    </div>
                </div>
                <div class="border-line-product4">
                    <div class="img-product">
                        <img src="{% static 'images/blue/4.jpg'%}" alt="" srcset="">
                    </div>
                    <div class="text-border">
                        <p>MANGA</p>
                        <p1>{{product.name}} 4</p1>
                        <p2>Tsubasa Yamaguchi   </p2>
                        <p3>หนังสือ</p3>
                        <p4>อีบุ๊ค</p4>
                    </div>
                    <a href="{%url 'addCart' product.id %}">
                    <div class="border-price">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>70</p1>
                        </div>
                    </div>
                    </a>
                    <div class="border-price2">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>55</p1>
                        </div>
                    </div>
                </div>
                <div class="border-line-product5">
                    <div class="img-product">
                        <img src="{% static 'images/blue/5-.jpg'%}" alt="" srcset="">
                    </div>
                    <div class="text-border">
                        <p>MANGA</p>
                        <p1>{{product.name}} 5</p1>
                        <p2>Tsubasa Yamaguchi   </p2>
                        <p3>หนังสือ</p3>
                        <p4>อีบุ๊ค</p4>
                    </div>
                    <a href="{%url 'addCart' product.id %}">
                    <div class="border-price">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>70</p1>
                        </div>
                    </div>
                    </a>
                    <div class="border-price2">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>55</p1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'js/products.js' %}"></script>
    {%endfor%}
</html>