{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สปาย x แฟมิลี่</title>
    <link rel="stylesheet" href="{% static 'css/product3.css'%}">
</head>
<body>
    <div class="text-store">
        <h1>L U C K I N T E R</h1>
        </a>
        <h5>PUBLISHING CO, LTD.</h5>
        <a href="{% url 'login_' %}">
        <input class="login-btn" type="button" value="Login">
        </a>
        <a href="{% url 'signout' %}">
            <input class="logout-btn" type="button" value="Logout">
        </a>
        <a href="{% url 'cartDetail' %}">
        <img class="cart-pricess" src="{% static 'images/assets/shopping-cart.png'%}" alt="">
        </a>
    </div>
    <div class="line-under-text"></div>
        <div class="border-radius">
            <h5></h5>
            <div class="text-store-bar">
                <a href="{% url 'index' %}">
                <h1>>LUCKINTER<</h1>
                </a>
                <h2>SHOP</h2>
                <a href="{% url 'series' %}">
                <h3>SERIES</h3>
                </a>
                <h4>REWARDS</h4>
                <a href="{% url 'contact' %}">
                <h6>CONTACT US</h6>
                </a>
                <h7>FAQ</h7>
            </div>
        </div>
        <div class="cart-product">
            {%if item_count > 0 %}
                <p>{{item_count}}</p>
            {%else%}
                0
            {%endif%}
            
        </div>
        <input class="search-bar-menu type="text" placeholder="Search..">
        <div class="parent">
            <img class="logo1" src="{% static 'images/assets/logo.png'%}">
        </div>
    </div>
        <div class="parent">
            <img class="showimge-product" src="{% static 'images/Spy/1.jpg'%}" alt="">
        </div>
        {%for product in products%}
        <div class="popup" id="popup-1">
            <div class="overlay">
                <div class="content">
                    <div class="text-product">
                        <p>MANGA</p>
                        <p2>MANGA</p2>
                        <p3>MANGA</p3>
                        <p4>MANGA</p4>
                        <p5>MANGA</p5>
                        <p6>MANGA</p6>
                        <p7>MANGA</p7>
                    </div>
                    <div class="text-product-name">
                        <p>{{product.name}} 1</p>
                        <p2>{{product.name}} 2</p2>
                        <p3>{{product.name}} 3</p3>
                        <p4>{{product.name}} 4</p4>
                        <p5>{{product.name}} 5</p5>
                        <p6>{{product.name}} 6</p6>
                        <p7>{{product.name}} 7</p7>
                    </div>
                    <img class="img-quic-buy1" src="{% static 'images/Spy/1.jpg'%}" alt="">
                    <img class="img-quic-buy2" src="{% static 'images/Spy/2.jpg'%}" alt="">
                    <img class="img-quic-buy3" src="{% static 'images/Spy/3.jpg'%}" alt="">
                    <img class="img-quic-buy4" src="{% static 'images/Spy/4.jpg'%}" alt="">
                    <img class="img-quic-buy5" src="{% static 'images/Spy/5.jpg'%}" alt="">
                    <img class="img-quic-buy6" src="{% static 'images/Spy/6.jpg'%}" alt="">
                    <img class="img-quic-buy7" src="{% static 'images/Spy/7.jpg'%}" alt="">
                    <div class="close-btn" onclick="togglePopup()">&times;</div>  
                    <input class="add-to-cart" type="button" value="ADD TO CART"> 
                    <div class="over-fit"></div>
                    <div class="btn-price">
                        <button class="btn-price-book">
                            <div class="text-btn">
                                <p>หนังสือ</p>
                                <p1>70</p1>
                            </div>
                        </button>
                        <button class="btn2-price-book">
                            <div class="text-btn">
                                <p>หนังสือ</p>
                                <p1>70</p1>
                            </div>
                        </button>
                        <button class="btn3-price-book">
                            <div class="text-btn">
                                <p>หนังสือ</p>
                                <p1>70</p1>
                            </div>
                        </button>
                        <button class="btn4-price-book">
                            <div class="text-btn">
                                <p>หนังสือ</p>
                                <p1>70</p1>
                            </div>
                        </button>
                        <button class="btn5-price-book">
                            <div class="text-btn">
                                <p>หนังสือ</p>
                                <p1>70</p1>
                            </div>
                        </button>
                        <button class="btn6-price-book">
                            <div class="text-btn">
                                <p>หนังสือ</p>
                                <p1>70</p1>
                            </div>
                        </button>
                        <button class="btn7-price-book">
                            <div class="text-btn">
                                <p>หนังสือ</p>
                                <p1>70</p1>
                            </div>
                        </button>
                        <button class="btn-price-ebook">
                            <div class="text-btn">
                                <p>อีบุ๊ค</p>
                                <p1>55</p1>
                            </div>
                        </button>
                        <button class="btn2-price-ebook">
                            <div class="text-btn">
                                <p>อีบุ๊ค</p>
                                <p1>55</p1>
                            </div>
                        </button>
                        <button class="btn3-price-ebook">
                            <div class="text-btn">
                                <p>อีบุ๊ค</p>
                                <p1>55</p1>
                            </div>
                        </button>
                        <button class="btn4-price-ebook">
                            <div class="text-btn">
                                <p>อีบุ๊ค</p>
                                <p1>55</p1>
                            </div>
                        </button>
                        <button class="btn5-price-ebook">
                            <div class="text-btn">
                                <p>อีบุ๊ค</p>
                                <p1>55</p1>
                            </div>
                        </button>
                        <button class="btn6-price-ebook">
                            <div class="text-btn">
                                <p>อีบุ๊ค</p>
                                <p1>55</p1>
                            </div>
                        </button>
                        <button class="btn7-price-ebook">
                            <div class="text-btn">
                                <p>อีบุ๊ค</p>
                                <p1>55</p1>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <input class="btn-buy" type="button" value="Quick Buy" onclick="togglePopup()">
        <div class="present-procuct">
            <h1>สปาย x แฟมิลี่</h1>
            <h2>สินค้าที่เกี่ยวข้อง</h2>
            <p1>เรื่องย่อ</p1>
            <p2>
                สุดยอดสปาย (สนธยา) ได้รับคำสั่งให้สร้าง “ครอบครัว”<br> เพื่อลอบเข้าไปในโรงเรียนชื่อดัง แต่ “ลูกสาว” ที่เขาได้พบ<br>ดันเป็นผู้มีพลังจิตอ่านใจคน! “ภรรยา” เป็นมือสังหาร!? <br>โฮมคอเมดี้สุดฮาของครอบครัวปลอมๆ ที่ต่างฝ่ายต่างปกปิด<br>ตัวจริงของกันและกัน ที่ต้องเผชิญหน้ากับการสอบเข้าและปกป้องโลก
            </p2>
            <p3>ข้อมูลหนังสือ</p3>
            <p4>
                เรื่อง : Tatsuya Endo<br>
                ภาพ : Tatsuya Endo  <br>
                สำนักพิมพ์ : Luckinter<br>
                Genres :  ตลกเฮฮา ,  slice of life    
            </p4>
            <div class="border-line"></div>
            <div class="border-line-product">
                <div class="border-line-product1">
                    <div class="img-product">
                        <img src="{% static 'images/Spy/1.jpg'%}" alt="" srcset="">
                    </div>
                 
                    <div class="text-border">
                        <p>MANGA</p>
                        <p1>{{product.name}} 1 </p1>
                        <p2>Tatsuya Endo   </p2>
                        <p3>หนังสือ</p3>
                        <p4>อีบุ๊ค</p4>
                    </div>
                    <a href="{%url 'addCart' product.id %}">
                    <div class="border-price">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>70</p1>
                        </div>
                    </div>
                    </a>
                    <div class="border-price2">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>55</p1>
                        </div>
                    </div>
                </div>
                <div class="border-line-product2">
                    <div class="img-product">
                        <img src="{% static 'images/Spy/2.jpg'%}" alt="" srcset="">
                    </div>
                    <div class="text-border">
                        <p>MANGA</p>
                        <p1>{{product.name}} 2</p1>
                        <p2>Tatsuya Endo   </p2>
                        <p3>หนังสือ</p3>
                        <p4>อีบุ๊ค</p4>
                    </div>
                    <a href="{%url 'addCart' product.id %}">
                    <div class="border-price">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>70</p1>
                        </div>
                    </div>
                    </a>
                    <div class="border-price2">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>55</p1>
                        </div>
                    </div>
                </div>
                <div class="border-line-product3">
                    <div class="img-product">
                        <img src="{% static 'images/Spy/3.jpg'%}" alt="" srcset="">
                    </div>
                    <div class="text-border">
                        <p>MANGA</p>
                        <p1>{{product.name}} 3</p1>
                        <p2>Tatsuya Endo</p2>
                        <p3>หนังสือ</p3>
                        <p4>อีบุ๊ค</p4>
                    </div>
                    <a href="{%url 'addCart' product.id %}">
                    <div class="border-price">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>70</p1>
                        </div>
                    </a>
                    </div>
                    <div class="border-price2">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>55</p1>
                        </div>
                    </div>
                </div>
                <div class="border-line-product4">
                    <div class="img-product">
                        <img src="{% static 'images/Spy/4.jpg'%}" alt="" srcset="">
                    </div>
                    <div class="text-border">
                        <p>MANGA</p>
                        <p1>{{product.name}} 4</p1>
                        <p2>Tatsuya Endo   </p2>
                        <p3>หนังสือ</p3>
                        <p4>อีบุ๊ค</p4>
                    </div>
                    <a href="{%url 'addCart' product.id %}">
                    <div class="border-price">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>70</p1>
                        </div>
                    </div>
                    </a>
                    <div class="border-price2">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>55</p1>
                        </div>
                    </div>
                </div>
                <div class="border-line-product5">
                    <div class="img-product">
                        <img src="{% static 'images/Spy/5.jpg'%}" alt="" srcset="">
                    </div>
                    <div class="text-border">
                        <p>MANGA</p>
                        <p1>{{product.name}} 5</p1>
                        <p2>Tatsuya Endo   </p2>
                        <p3>หนังสือ</p3>
                        <p4>อีบุ๊ค</p4>
                    </div>
                    <a href="{%url 'addCart' product.id %}">
                    <div class="border-price">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>70</p1>
                        </div>
                    </div>
                    </a>
                    <div class="border-price2">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>55</p1>
                        </div>
                    </div>
                </div>
                <div class="border-line-product6">
                    <div class="img-product">
                        <img src="{% static 'images/Spy/6.jpg'%}" alt="" srcset="">
                    </div>
                    <div class="text-border">
                        <p>MANGA</p>
                        <p1>{{product.name}} 6</p1>
                        <p2>Tatsuya Endo   </p2>
                        <p3>หนังสือ</p3>
                        <p4>อีบุ๊ค</p4>
                    </div>
                    <a href="{%url 'addCart' product.id %}">
                    <div class="border-price">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>70</p1>
                        </div>
                    </div>
                    </a>
                    <div class="border-price2">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>55</p1>
                        </div>
                    </div>
                </div>
                <div class="border-line-product7">
                    <div class="img-product">
                        <img src="{% static 'images/Spy/7.jpg'%}" alt="" srcset="">
                    </div>
                    <div class="text-border">
                        <p>MANGA</p>
                        <p1>{{product.name}} 7</p1>
                        <p2>Tatsuya Endo   </p2>
                        <p3>หนังสือ</p3>
                        <p4>อีบุ๊ค</p4>
                    </div>
                    <a href="{%url 'addCart' product.id %}">
                    <div class="border-price">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>70</p1>
                        </div>
                    </div>
                    </a>
                    <div class="border-price2">
                        <div class="border-price-text">
                            <p>&#xE3F</p>
                            <p1>55</p1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'js/products.js' %}"></script>
    {%endfor%}
</html>