{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Series</title>
    <link rel="stylesheet" href="{% static 'css/series.css'%}">
</head>
<body>
    <section>
        <div class="parent">
            <img class="logo1" src="{% static 'images/assets/logo.png'%}">
        </div>
        <div class="text-store">
            <h1>L U C K I N T E R</h1>
            <h5>PUBLISHING CO, LTD.</h5>
            <a href="{% url 'login_' %}">
            <input class="login-btn" type="button" value="Login"></a>
            <img class="cart-pricess" src="{% static 'images/assets/shopping-cart.png'%}" alt="">
        </div>
        <div class="line-under-text"></div>
        <div class="border-radius">
            <h5></h5>
            <div class="text-store-bar">
                <a href="{% url 'index' %}">
                <h1>>LUCKINTER<</h1>
                </a>
                <a href="{% url 'cartDetail' %}">
                <h2>SHOP</h2>
                </a>
                <a href="{% url 'series' %}">
                <h3>SERIES</h3>
                </a>
                <h4>REWARDS</h4>
                {% if request.user.is_authenticated and request.user.username %}
                <h5>WELLCOME {{request.user.username}}</h5>
                {% else %}
                <h5>WELLCOME USER</h5>
                {% endif %}
                <a href="{% url 'contact' %}">
                <h6>CONTACT US</h6>
                </a>
            </div>
        </div>
        <div class="under-border">
            <div class="border-text">
                <p1>เนื้อเรื่อง:</p1>
                <p2>ทั้งหมด</p2>
            </div>
            <div class="border-text1">
                <p>Manga</p>
            </div>
            <div class="border-text2">
                <p>Light novel</p>
            </div>
            <div class="border-text3">
                <p>ยังไม่จบ</p>
            </div>
            <div class="border-text4">
                <p>จบแล้ว</p>
            </div>
        </div>
        <section class="box-anime-section">
            <div class="box-anime">
                <div class="box-anime-1">
                    <h1>Date A Live Dead End Tohka</h1>
                    <img class="img-anime" src="{% static 'images/series/38AXETUJ7YY56Z18_r.jpg'%}" alt="">
                    <p1>Koushi Tachibana, Sekihino<br> I nui,Tsunako</p1>
                    <p2>Manga: 7 เล่มจบ</p2>
                </div>
                <div class="box-anime-2">
                    <img class="img-anime" src="{% static 'images/blue/1.jpg'%}" alt="">
                    <h1>Blue Period</h1>
                    <p1>Tsubasa Yamaguchi</p1>
                    <p2>Manga: 9 เล่ม(ยังไม่จบ)</p2>

                </div>
                <div class="box-anime-3">
                    <img class="img-anime" src="{% static 'images/เจ้าสาว/goto.jpg'%}" alt="">
                    <h1>Go Toubun no Hanayome</h1>
                    <p1>Futaro Uesugi</p1>
                    <p2>Manga: 14  เล่มจบ</p2>
                </div>
                <div class="box-anime-4">
                    <img class="img-anime" src="{% static 'images/สะดุด/1583735524.jpg'%}" alt="">
                    <h1>Rent-A-Girlfriend</h1>
                    <p1>Kanojo, Okarishimasu</p1>
                    <p2>Manga: 21  เล่ม(ยังไม่จบ)</p2>
                </div>
                <div class="box-anime-5">
                    <img class="img-anime" src="{% static 'images/โฉมงาน/Komi-san wa.png'%}" alt="">
                    <h1>Komi-san wa, Comyushou desu</h1>
                    <p1>Ayumu Watanabe</p1>
                    <p2>Manga: 11  เล่ม(ยังไม่จบ)</p2>
                </div>
                <div class="box-anime-6">
                    <img class="img-anime" src="{% static 'images/Tokyo/1.jpg'%}" alt="">
                    <h1>Tokyo Revengers</h1>
                    <p1>Takumi Kitamura</p1>
                    <p2>Manga: 19 เล่ม(ยังไม่จบ)</p2>
                </div>
                <div class="box-anime-7">
                    <img class="img-anime" src="{% static 'images/bluelock/1.jpg'%}" alt="">
                    <h1>Blue Lock</h1>
                    <p1>Muneyuki Kaneshiro</p1>
                    <p2>Manga: 12 เล่ม(ยังไม่จบ)</p2>
                </div>
                <div class="box-anime-8">
                    <img class="img-anime" src="{% static 'images/blue/1.jpg'%}" alt="">
                    <h1>Tonikaku Kawaii</h1>
                    <p1>Tsukasa-chan</p1>
                    <p2>Manga: 7 เล่ม(ยังไม่จบ)</p2>
                </div>
                <div class="box-anime-9">
                    <img class="img-anime" src="{% static 'images/หนุ่มเย็บผ้า/1.jpg'%}" alt="">
                    <h1>Sono Bisque Doll wa Koi wo Suru</h1>
                    <p1>Kasumasa Ishida</p1>
                    <p2>Manga: 6 เล่ม(ยังไม่จบ)</p2>
                </div>
                <div class="box-anime-10">
                    <img class="img-anime" src="{% static 'images/สะดุด/1.jpg'%}" alt="">
                    <h1>Rent-A-Girlfriend</h1>
                    <p1>Kanojo, Okarishimasu</p1>
                    <p2>Manga: 21  เล่ม(ยังไม่จบ)</p2>
                </div>
        </div>
        </section>
        <section class="box-anime-section">
            <div class="box-anime">
                <div class="box-anime-11">
                    <img class="img-anime" src="{% static 'images/series/Fate.jpg'%}" alt="">
                    <h1>Fate/Grand Order -turas realta </h1>
                    <p1>TYPE-MOON,Takeshi Kawaguchi</p1>
                    <p2>Manga: 9 เล่ม(ยังไม่จบ)</p2>
                </div>
                <div class="box-anime-12">
                    <img class="img-anime" src="{% static 'images/series/Darwins Game.jpg'%}" alt="">
                    <h1>Darwin’s Game</h1>
                    <p1>FLIPFLOPs</p1>
                    <p2>Manga: 18 เล่ม(ยังไม่จบ)</p2>
                </div>
                <div class="box-anime-13">
                    <img class="img-anime" src="{% static 'images/series/Abyss.jpg'%}" alt="">
                    <h1>Abyss</h1>
                    <p1>Ryuhaku Nagata</p1>
                    <p2>Manga: 8 เล่มจบ</p2>
                </div>
                <div class="box-anime-14">
                    <img class="img-anime" src="{% static 'images/series/Final Fantasy Lost Stranger.jpg'%}" alt="">
                    <h1>Final Fantasy Lost Stranger</h1>
                    <p1>Hazuki Minase, Itsuki Kameya</p1>
                    <p2>Manga: 6 เล่ม(ยังไม่จบ)</p2>
                </div>
                <div class="box-anime-15">
                    <img class="img-anime" src="{% static 'images/series/FateGrand OrderEpicof Remnant.jpg'%}" alt="">
                    <h1>Fate/Grand Order -Epic of
                        Remnant - ภาวะเอกฐานย่อย 4 
                        ซาเลมสวนสวรรค์ต้องหามบน
                    </h1>
                    <p1>Aoi Ohmori</p1>
                    <p2>Manga: 1 เล่ม(ยังไม่จบ)</p2>
                </div>
                <div class="box-anime-16">
                    <img class="img-anime" src="{% static 'images/series/LoveStage.jpg'%}" alt="">
                    <h1>Love Stage</h1>
                    <p1>Eiki EIKI, Taishi ZAOU</p1>
                    <p2>Manga: 12 เล่ม(ยังไม่จบ)</p2>
                </div>
                <div class="box-anime-17">
                    <img class="img-anime" src="{% static 'images/series/Katsugeki Touken Ranbu.jpg'%}" alt="">
                    <h1>Katsugeki Touken Ranbu</h1>
                    <p1>Tsuda Honami</p1>
                    <p2>Manga: 12 เล่ม(ยังไม่จบ)</p2>
                </div>
                <div class="box-anime-18">
                    <img class="img-anime" src="{% static 'images/series/Hight.jpg'%}" alt="">
                    <h1>HightSchool DXD</h1>
                    <p1>Mishima Hiroji, Ichiei  Ishibumi,
                        Miyama Zero</p1>
                    <p2>Manga: 10 เล่ม(ยังไม่จบ)</p2>
                </div>
                <div class="box-anime-19">
                    <img class="img-anime" src="{% static 'images/series/Blacktorch.jpg'%}" alt="">
                    <h1>BLACK TORCH</h1>
                    <p1>Tsuyoshi Takai</p1>
                    <p2>Manga: 5 เล่มจบ</p2>
                </div>
                <div class="box-anime-20">
                    <img class="img-anime" src="{% static 'images/series/7เทพ.jpg'%}" alt="">
                    <h1>7 เทพ ม.ปลายกับการใช้ชีวิตสบายๆในต่าง
                        โลก</h1>
                    <p1>Koraro Yamada, Riku Misora,
                        Sacraneco</p1>
                    <p2>Manga: 9 เล่ม(ยังไม่จบ)</p2>
                </div>
            </div>
        </section>
    </section>
</body>
</html>